.window-container-markdown-renderer {
  > div > * {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 26px;
    margin-bottom: 2rem;

    @container title-screen (min-width: 768px) {
      font-size: clamp(26px, 16px + 4cqi, 60px);
    }
  }

  h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;

    @container title-screen (min-width: 768px) {
      font-size: clamp(24px, 16px + 3.5cqi, 55px);
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }

    @container title-screen (min-width: 768px) {
      font-size: clamp(18px, 18px + 2cqi, 28px);
    }

    code {
      font-size: 0.9em;
      padding: 0.25em 0.5em;
      background-color: var(--va-background-secondary);
      border-radius: 0.25rem;
    }
  }

  a {
    color: var(--va-primary);
    text-decoration: none;
    border-bottom: 1px solid var(--va-primary);
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;

    &:hover {
      color: var(--va-primary-hover);
      border-bottom-color: transparent;
    }
  }

  blockquote {
    margin: 0.5rem 0;
    padding: 0;
    border-left: 0.25rem solid var(--va-primary);
    padding-inline-start: 1rem;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--va-text-primary);
    opacity: 0.8;
    quotes: "“" "”" "‘" "’";
  }

  .c-blockquote {
    .c-blockquote__attribution {
      font-style: italic;
      margin-top: 0.3125rem;
      text-align: right;
    }
  }

  pre {
    overflow-x: auto;
    padding: 1rem 0.5rem;
    background-color: var(--va-background-secondary);
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;

    li {
      margin-bottom: 0.25rem;

      &::marker {
        color: var(--va-primary);
      }
    }

    ul {
      list-style: circle;
      margin-left: 1.5rem;
    }
  }

  ol {
    list-style: decimal;
    margin-left: 1.5rem;

    li {
      margin-bottom: 0.25rem;
    }

    ol {
      list-style: lower-alpha;
      margin-left: 1.5rem;
    }
  }
}
