.main-grid__left {
  --sidebar-minimized-width: 48;
  display: flex;

  .toolbar {
    --va-sidebar-item-content-padding: 0.5rem;
    --va-sidebar-item-active-border-size: 0;

    .va-sidebar__item__content {
      justify-content: center;
      --va-sidebar-item-content-gap: 0;
      min-height: 0;
    }

    .va-sidebar__item {
      &:hover {
        .empty {
          img {
            opacity: 1;
          }
        }
      }
    }

    .empty {
      img {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

  .dynamic-panel {
    left: calc(var(--dynamic-panel-offset-left) * 1px);
    border-left: 1px solid var(--va-background-border);
  }
}

.toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  .toolbar-button__content {
    font-size: 11px;
    text-transform: lowercase;
    color: var(--va-primary);
  }
}

.main-grid__right {
  display: flex;

  .va-sidebar {
    --va-sidebar-item-content-padding: 1rem;
    --va-sidebar-item-active-border-size: 0;
    max-width: max(100%, 350px);
  }

  .profile-item {
    /*background-color: var(--va-background-secondary);*/
  }

  .dynamic-panel {
    right: calc(var(--dynamic-panel-offset-right) * 1px);
    left: auto;
    border-right: 1px solid var(--va-background-border);
  }
}

.right-panel-flying-container {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 1;
}

.va-sidebar {
  &.dynamic-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .dynamic-panel__content,
  .dynamic-panel__header {
    padding: 0.5rem;
  }

  .dynamic-panel__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}
