@import './transitions.scss';

.mb {
  margin-bottom: 1rem;
}
header {
  margin-bottom: 1rem;
}
.dashboard-container {
  padding-inline: 1rem;
}
.dashboard-content {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 350px);
  gap: 2rem;
}
.tables-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  grid-auto-rows: auto;
  .va-card {
    max-width: 300px;
    margin-inline: auto;
  }
}

/* fix for buttons in popover */
.va-button--loading.va-popover {
  display: inline-flex;
}
