.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
.notifications-container {
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(50px);
  }
}

.explorer {
  transition-delay: 500ms;
}

.h-list-enter-active,
.h-list-leave-active,
.h-list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.h-list-enter-to {
  opacity: 1;
  transform: translateY(0) scaleX(1);
}

.h-list-leave-active {
  position: absolute;
}

.h-list-enter-from,
.h-list-leave-to {
  opacity: 0;
  transform: translateY(20px) scaleX(0);
  transform-origin: center top;
}

.window-enter-from {
  opacity: 0;
}

.window-leave-to {
  opacity: 0;
}

.window-enter-from,
.window-leave-to {
  transform: scale(0.5) translateY(140px);
}
