.drive-tree-container {
  --va-tree-node-padding: 3px;
  --node-icon-size: 28px;
}
.he-tree {

  padding: var(--va-tree-view-padding);

  .tree-children:not(.tree-root) {
    background: var(--va-tree-node-children-background);
    .tree-children {
      background-position-x: 35px;
      .tree-children {
        background-position-x: 56px;
        .tree-children {
          background-position-x: 77px;
        }
      }
    }
  }

  .tree-node{
    position: relative;
    padding: var(--va-tree-node-padding);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
      background-color: transparent;
      border-radius: var(--va-tree-node-border-radius);
      opacity: 0;
      transition: opacity .3s;
    }
    &:hover {
      &:before {
        background-color: var(--va-primary);
        opacity: var(--va-tree-node-interactive-bg-opacity);
      }
    }
  }

  .drive-node {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    width: 100%;

    .va-button__content {
      display: contents;
    }
  }
  .drive-node__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: left;
  }
  .drive-node__actions {
    flex: 0 0 auto;
    align-items: center;
    gap: 3px;
    display: flex;
  }
}

.drive-node__icon {
  flex: 0 0 auto;
  display: grid;
  place-content: center;
  height: var(--node-icon-size);
  width: var(--node-icon-size);
  position: relative;
  .drive-node__icon--undetermined::before {
    content: '?';
    position: absolute;
    inset: 0;
    margin: 2px auto auto;
    color: var(--va-background-secondary);
    font-family: var(--va-font-family);
    font-size: 14px;
    font-weight: 700;
  }
  .root-icon::before {
    position: absolute;
    content: '';
    inset: 0;
    margin: auto;
    width: calc(var(--node-icon-size) - 4px);
    height: calc(var(--node-icon-size) - 4px);
    background-image: url(/logo.svg);
    background-size: contain;
  }
}

.drive-directory-tree-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--va-background-secondary);
  padding: var(--va-tree-view-padding);
}
.drive-directory-tree-header__content {
  padding: var(--va-tree-node-padding);
}
.drive-directory-tree-header__root-nav {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.drive-node__context-menu {
  --va-list-item-section-icon-margin: 0;
  .va-list-item {
    &:hover {
      .va-list-item-label--caption {
        color: var(--va-text-primary);
      }
    }
  }
}
