:root {
  --window-tab-background: var(--va-background-secondary);
  --window-tab-background-active: color-mix(in oklab, var(--va-background-primary) 100%, var(--va-secondary-dark) 35%);
}

.main-grid__status {
  overflow: hidden;
}
.window-manager {
  --window-manager-gap: 6px;
  --window-tab-padding: 6px;
  --window-tab-max-size: 200px;
  display: flex;
  gap: var(--window-manager-gap);
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--window-manager-gap);
  position: relative;
}

.window-tab-container {
  flex: 1;
  max-width: var(--window-tab-max-size);
  overflow: hidden;
}

.window-tab {
  border-radius: 3px 3px 0 0;
  background-color: var(--window-tab-background);
  padding: 0 var(--window-tab-padding);
  display: flex;
  gap: calc(var(--window-tab-padding) / 2);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;

  &:hover {
    background-color: color-mix(in oklab, var(--va-background-secondary), #ffffff33);
  }

  &.window-tab--active {
    background-color: var(--window-tab-background-active);
  }
}

.window-tab__button {
  padding: var(--window-tab-padding) 0;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
  .va-button__content {
    display: contents;
  }
}

.window-tab__actions {
  flex: 0 0 auto;
  gap: calc(var(--window-tab-padding) / 2);
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  display: none;

  .window-tab:hover & {
    display: flex;
  }
}

.window-container {
  --window-container-padding: .5rem;
  --window-container-border-radius: 3px;
  --window-container-background: var(--va-background-element);
  --window-border-color: var(--va-background-border);
  position: fixed;
  top: 0;
  left: 0;
  resize: both;
  overflow: auto;
  border: 1px solid var(--window-border-color);
  border-radius: var(--window-container-border-radius);
  background-color: var(--window-container-background);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  > * {
    padding: var(--window-container-padding);
  }
}

.asset-modal {
  box-shadow: 2px 2px 10px 0px #00000033;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.asset-modal__title {
  background-color: var(--va-background-secondary);
  border-bottom: 1px solid var(--va-background-border);
  cursor: move;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.asset-modal__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.text-editor {
  max-height: 150px;
  overflow: auto;
}

.window-container-markdown__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.window-container-markdown__meta__item {
  margin-bottom: 0.5rem;
}
